
@keyframes bouncing_balls {
  0%{
    transform:translate(0%,0%);
  }
  15%{
    transform:translate(0%,-200%);
  }
  33%{
    transform:translate(0%,0);
  }
  
}
@keyframes hide_compartment01 {
  100%{
    visibility: hidden;
    opacity: 0;
  }
}
.home01_main_container{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
     background:#f4f1f1;
  }
  .compartment01{
    height:100%;
    width:25%;
background:white;
box-shadow:0px 0px 10px black;
display: flex;
  }
  .compartment01_subpart01{
 height:100%;
 width:100%;
 
 display: flex;
 flex-direction: column;

  }
  .compartment01_subpart02{
    height:93%;
    width:100%;
    
    display: flex;
    flex-direction: column;
   align-items: flex-center;
   justify-content:center;
     }
  .home01_logo{
    height:20%;
    width:80%;
    
    align-self: center;
    text-align: center;
  }
  .home01_logo > p{
    font-size:1.2vw;
    letter-spacing: 1px;

    /* font-family:'Jost',; */
    font-weight:700;
    color:#45215D;
   
    margin: 0%;
    padding:0%;
  }
  .loading_dots_div{
    height:7%;
    width:100%;
    /* background: #45215D; */
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
  }
  .loading_dots_container{
    height:100%;
    width:25%;
    /* background:yellow; */
    display: flex;
    align-items: center;
    justify-content:space-around;
  }
  .loading_dots{
    height:30%;
    width:15%;
    background:white; 
    border-radius: 50%;
    animation-fill-mode: both;
  }
  .loading_dots:nth-child(1){
    animation: bouncing_balls 1.2s linear 0s infinite forwards;
    background:#45215D;
  }
  .loading_dots:nth-child(2){
    animation: bouncing_balls 1.2s linear 0.2s infinite forwards;
    background:#7A3064;
  }
  .loading_dots:nth-child(3){
    animation: bouncing_balls 1.2s linear 0.4s infinite forwards;
    background: #944379;
  }
  .compartment02{
    height:100%;
    width:75%;
    /* background:red; */
  }
  .compartment02_subpart01{
    height:100%;
    width:100%;
    /* background:gold; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .compartment02_subpart02{
    
    height:50%;
    width:85%;
    /* background:black; */
    flex-direction: column;
    padding: 0% 0.5% 0% 0.5%;
  }
  .compartment02_general{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .compartment02_title{
     height:15%;
     width:100%;
     /* background:red; */
     justify-content: flex-start;
  }
  .compartment02_title > p{
    font-size: 2vw;
    font-weight: 900;
    color:#45215D;
    padding:0;
    margin:0;
  } 
  .compartment02_body{
    min-height:70%;
     width:100%;
     height:auto;
     /* background:blue; */
     overflow: hidden;
  }
  .temp{
    height:100%;
    /* background:chartreuse; */
    justify-content: flex-start;
  }
  .temp > p{
    font-size:1.2rem;
    /* background:yellow; */
    width:90%;
    color:#944379;
    padding:1% 0% 0% 0%;
    margin:0;
    align-self: flex-start;
    font-weight:500;
  }
  .compartment02_button{
    height:15%;
     width:80%;
     /* background:green; */
     display: flex;
     align-items: center;
     justify-content: flex-end;
  }
  .button{
    /* background:red; */
    height:100%;
    width:40%;
    padding:2% 1% 0% 0%;
    display: flex;
    align-items:center;
    justify-content:flex-end;
  }
  /* button css starts  */
  .btnInner{
    /* border: 5px solid #45235e59; */
    border: none;
    /* padding: 1rem 3rem; */
    color: white;
    text-transform: capitalize;
    height:80%;
    width:50%;
    background-image: linear-gradient(45deg,#45235e 50%,#944379);
    border-radius: 3rem;
    /* font-size:1.1rem; */
    transition: transform 0.4s ease-in-out;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .btnInner:hover{
    transform: scale(1.05);
  }
  /* button css ends  */