#root {
  --background: #f4f5f5;
  --primary: #45215D;
  --secondary: #944379;
}

a{
  text-decoration: none;
}

@keyframes bouncing_balls {
  0% {
    transform: translate(0%, 0%);
  }

  15% {
    transform: translate(0%, -200%);
  }

  33% {
    transform: translate(0%, 0);
  }

}

@keyframes hide_compartment01 {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.home01_main_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(234, 234, 234);
}

.compartment01 {
  height: 100%;
  width: 25vw;
  background: white;
  box-shadow: 0px 0px 10px black;
  display: flex;
}

.compartment01_subpart01 {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

}

.compartment01_subpart02 {
  height: 93%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-center;
  justify-content: center;
}

.home01_logo {
  height: 20%;
  width: 80%;

  align-self: center;
  text-align: center;
}

.home01_logo>p {
  font-size: 1.2vw;
  letter-spacing: 1px;

  /* font-family:'Jost',; */
  font-weight: 700;
  color: #45215D;

  margin: 0%;
  padding: 0%;
}

.loading_dots_div {
  height: 7%;
  width: 100%;
  /* background: #45215D; */
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.loading_dots_container {
  height: 100%;
  width: 25%;
  /* background:yellow; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.loading_dots {
  height: 30%;
  width: 15%;
  background: white;
  border-radius: 50%;
  animation-fill-mode: both;
}

.loading_dots:nth-child(1) {
  animation: bouncing_balls 1.2s linear 0s infinite forwards;
  background: #45215D;
}

.loading_dots:nth-child(2) {
  animation: bouncing_balls 1.2s linear 0.2s infinite forwards;
  background: #7A3064;
}

.loading_dots:nth-child(3) {
  animation: bouncing_balls 1.2s linear 0.4s infinite forwards;
  background: #944379;
}

.compartment02 {
  height: 100%;
  width: 75%;
  /* background:red; */
}

.compartment02_subpart01 {
  height: 100%;
  width: 100%;
  /* background:gold; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.compartment02_subpart02 {

  height: 50%;
  width: 85%;
  /* background:black; */
  flex-direction: column;
  padding: 0% 0.5% 0% 0.5%;
}

.compartment02_general {
  display: flex;
  align-items: center;
  justify-content: center;
}

.compartment02_title {
  height: 15%;
  width: 100%;
  /* background:red; */
  justify-content: flex-start;
}

.compartment02_title>p {
  font-size: 2vw;
  font-weight: 900;
  color: #45215D;
  padding: 0;
  margin: 0;
}

.compartment02_body {
  min-height: 70%;
  width: 100%;
  height: auto;
  /* background:blue; */
  overflow: hidden;
}

.temp {
  height: 100%;
  /* background:chartreuse; */
  justify-content: flex-start;
}

.temp>p {
  font-size: 1.2rem;
  /* background:yellow; */
  width: 90%;
  color: #944379;
  padding: 1% 0% 0% 0%;
  margin: 0;
  align-self: flex-start;
  font-weight: 500;
}

.compartment02_button {
  height: 15%;
  width: 80%;
  /* background:green; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  /* background:red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* button css starts  */
.btnInner {
  border: none;
  padding: 1rem 3rem;
  color: white;
  text-transform: capitalize;
  width: fit-content;
  background-image: linear-gradient(45deg, #45235e 50%, #944379);
  border-radius: 3rem;
  transition: transform 0.4s ease-in-out;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.btnInner:hover {
  transform: scale(1.05);
}

/* button css ends  */
/* otp page css starts  */
.Otp_Page_main_container,
.Form01_main_container {
    /* font-family:'Jost',; */
    font-weight:700;
    color:#45215D;
   
    margin: 0%;
    padding:0%;
  }
  .loading_dots_div{
    height:7%;
    width:100%;
    /* background: #45215D; */
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
  }
  .loading_dots_container{
    height:100%;
    width:25%;
    /* background:yellow; */
    display: flex;
    align-items: center;
    justify-content:space-around;
  }
  .loading_dots{
    height:30%;
    width:15%;
    background:white; 
    border-radius: 50%;
    animation-fill-mode: both;
  }
  .loading_dots:nth-child(1){
    animation: bouncing_balls 1.2s linear 0s infinite forwards;
    background:#45215D;
  }
  .loading_dots:nth-child(2){
    animation: bouncing_balls 1.2s linear 0.2s infinite forwards;
    background:#7A3064;
  }
  .loading_dots:nth-child(3){
    animation: bouncing_balls 1.2s linear 0.4s infinite forwards;
    background: #944379;
  }
  .compartment02{
    height:100%;
    width:75%;
    /* background:red; */
  }
  .compartment02_subpart01{
    height:100%;
    width:100%;
    /* background:gold; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .compartment02_subpart02{
    height:50%;
    width:85%;
    /* background:black; */
    flex-direction: column;
    padding: 0% 0.5% 0% 0.5%;
  }
  .compartment02_subpart02_login{
    height:75%;
    width:85%;
  }
  .cna{
    letter-spacing: 2px;
  }
  .compartment02_general{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .compartment02_title{
     height:15%;
     width:100%;
     /* background:red; */
     justify-content: flex-start;
  }
  .compartment02_title_login{
    height:11%;
  }

  
  .compartment02_title > p{
    font-size: 2vw;
    font-weight: 900;
    color:#45215D;
    padding:0;
    margin:0;
  } 
  .compartment02_body{
    height:70%;
     width:100%;
     height:auto;
     /* background:blue; */
     overflow: hidden;
  }
  .compartment02_body_login{
    height:100%;
    width:80%;
    display: flex;
    align-self: flex-start;
  }
  .temp{
    height:100%;
    /* background:chartreuse; */
    justify-content: flex-start;
  }
  .temp > p{
    font-size:1.2rem;
    /* background:yellow; */
    width:90%;
    color:#944379;
    padding:1% 0% 0% 0%;
    margin:0;
    align-self: flex-start;
    font-weight:500;
  }
  .ccc_button{
    height:15%;
     width:80%;
     /* background:green; */
     display: flex;
     align-items: center;
     justify-content: center;
  }
  .ccc_button_login{
    height:5%;
  }
  .button{
    /* background:red; */
    display: flex;
    align-items:center;
    justify-content:flex-end;
  }
  /* button css starts  */
  .btnInner{
    border: none;
    padding: 1rem 3rem; 
    color: white;
    text-transform: capitalize;
    width:fit-content;
    background-image: linear-gradient(45deg,#45235e 50%,#944379);
    border-radius: 3rem;
    transition: transform 0.4s ease-in-out;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .btnInner:hover{
    transform: scale(1.05);
  }
  /* button css ends  */


  /* access your account css */
  .login_form_divison{
    height:100%;
    width:95%;
    /* background:red; */
  }
  .login_form{
    height:100%;
    width:55%;
    /* background:yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .OR_sign{
    height:100%;
    width:5%;
    /* background:green; */
  }
  .social_media_login{
    height:100%;
    width:40%;
    /* background:maroon; */
    display: flex;
    align-items: center;
    justify-self: center;
  }
  .compartment02_button_login{
    width:76%;
    align-self:flex-start;
  }
  .compartment02_button{
    width:100%;
    /* background:red; */
  }
  .login_form_subpart{
    height:80%;
    width:100%;
    /* background:rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #form{
    height:100%;
    width:100%;
    /* background:gray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .field_common{
    height:28%;
    width:100%;
    display: flex;
    align-items: center;
    justify-self:flex-start;
  }
  .email_field{
    /* background:red; */
    display: flex;
    align-items: center;
    justify-self:flex-start;
  }
  .password_field{
    /* background:#45215D; */
  }
  .login_button{
    height:44%;
    /* background:aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .email_input , .password_input{
    height:47%;
    width:75%;
    border-radius: 7px;
    box-shadow: 0px 1px 5px black;
    position:relative;
    font-size:17px;
    color:#45215D;
    font-weight: 700;
    padding-left:4%;
    margin:0%;
    padding-left:9%;
    border-color:#45215D;
    outline:none;
    border-width:0;
  }
  .email_input:focus,.password_input:focus{
    box-shadow: none;
    border:3px solid  #45235e;
    border-style: groove;
  }
  .placeholder_div,.placeholder_div_password{
    height:4%;
    width:13%;
    position: absolute;
    /* background: khaki; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left:2.5%;
    font-size:18px;
  }
  .placeholder_div > p{
    margin: 0%;
    padding: 0%;
    /* background: yellow; */
    color:#45215D;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 2px
  }
 
  .placeholder_div_password > p{
    margin: 0%;
    padding: 0%;
    /* background: yellow; */
    color:#45215D;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size:18px;
  }
  .captcha_div{
    height:40%;
    width:100%;
    background:green;
    
  }
  .login_button_container{
    height:40%;
    width:100%;
    /* background:firebrick; */
    justify-content: flex-start;
  }
  .btn_login{
    height:75%;
    width:75%;
    background-image: linear-gradient(45deg,#45235e 55%,#944379);
    border-radius: 0.32rem;
    color:white;
    border:none;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .btn_login:hover{
    transform: scale(1.005);
  }
  .needhelp_container{
    height:20%;
    width:100%;
    /* background:lawngreen; */
  }
  .needhelp_container > p ,#link_for_help > p{
    font-size:13px;
    margin:0%;
    padding:0%;
    font-weight: 700;
  }
  .needhelp_container > p:nth-child(1){
    color:#944379;
  }
  #link_for_help > p{
    color:#7A3064;
    font-weight: 800;
  }
 #link_for_help{
  text-decoration: none;
 }
 .OR_sign{
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .OR_sign_subpart{
  height:85%;
  width:100%;
  /* background:fuchsia; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position:relative;
 }
 .vertical_line{
  height:80%;
  width:3%;
  background:#979494;
 }
 .OR_circle{
  position:absolute;
  height:9.2%;
  width:100%;
  background:rgb(234,234,234);
  border-radius:3rem;
  border:1px solid #944379;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:600;
  color:#45215D;
 }
 .social_media_login_subpart{
  height:90%;
  width:100%;
  /* background:yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .general_social_media{
  height:13%;
  width:80%;
  /* background:darkgoldenrod; */
  padding:2%;
 }
 .google_button,.facebook_button{
  height:100%;
  width:90%;
  /* background:red; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.32rem;
  border:none;
  box-shadow: 0px 1px 3px black;
  font-weight: 500;
 }
 .google_button{
  background:white;
  
 }
 .google_button > i,.facebook_button > i{
  font-size:22px;
  padding-right:5%;
 }
 .google_button > p,.facebook_button > p{
  font-size:12px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color:#45215D;
 }
 .google_button > img{
  height:50%;
  width:auto;
  
 }
 .google_button > p{
  padding-left:4%;
 }
 .facebook_login{
  margin-top:5%;
 }
 .ccc_button_login > p{
  font-size:14px;
  text-transform: capitalize;
  font-weight:700;
  letter-spacing: 0.5px;
  word-spacing: 2px;
 }
 .ccc_button_login > p:nth-child(1){
  color:#944379;
 }
 .ccc_button_login > p:nth-child(2){
  font-weight: 1000;
  color:#7A3064;
 }
 #link_for_signup{
  text-decoration: none;
  font-weight: 1000;
  color:#7A3064;
  
 }
 .field_common,.field_common_signup{
  height:28%;
  width:100%;
  /* background:teal; */
  display: flex;
  align-items: center;
  justify-self:flex-start;
}
.field_common_signup{
  height:25%;
}
.login_button{
  height:44%;
}
.email_field,.email_field_signup{
  /* background:red; */
  display: flex;
  align-items: center;
  justify-self:flex-start;
}
.email_input , .email_input_signup,.password_input,.password_input_signup{
  height:47%;
  width:75%;
  border-radius: 7px;
  box-shadow: 0px 1px 2px black;
  position:relative;
  font-size:17px;
  color:#45215D;
  font-weight: 700;
  padding-left:4%;
  margin:0%;
  padding-left:9%;
  border-color:#45215D;
  outline:none;
  border-width:0;
}
.email_input_signup,.password_input_signup{
  height:60%;
  letter-spacing: 1px;
}
.email_input:focus,.email_input_signup:focus,.password_input:focus,.passport_input_signup:focus{
  box-shadow: none;
  border:3px solid  #45235e;
  border-style: groove;
}
  
  /* Access Your Account , Create a new account css ends  */

  /* otp page css starts  */
.Otp_Page_main_container{
  color: #944379;
  height: 100%;
  width: 100%;
  display: flex;
}

.Otp_page_Inner,
.Form01_page_Inner {
  height: 100%;
  width: 75%;
  padding: 2rem;
  background-color: var(--background);
}

.head {
  font-size: 2rem;
  padding: 0rem 2rem;
  color: var(--primary);
}

.Otp_page_content,
.Form_page_content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  flex-direction: column;
}

.Otp_page_content p {
  text-align: center;
  margin: 0rem;
}

.Otp_page_content span {
  font-weight: 700;
}

.Otp_boxes {
  margin: 1.5rem 0rem;

}

.Otp_boxes input {
  margin: 0rem 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  box-shadow: 5px 5px 10px rgb(110, 110, 110);
  border-radius: 5px;
  text-align: center;
}

.resendOtpDiv {
  text-align: center;
  margin: 1rem 0rem;
}

.resendOtpBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--secondary);
  font-weight: 700;
}

.Otp_page_end {
  height: 4rem;
  width: 100%;
}

.goBackDiv button {
  background-color: transparent;
  border: none;
  font-weight: 700;
  color: var(--secondary);
  cursor: pointer;
  text-decoration: underline;
  position: fixed;
}

/* otp page css ends */
/* form css starts  */
.form_main_container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;  
  z-index: -7;
}
.form_main_container_inner {
  width: 300vw;
  height: 100vh;
  display: flex;
  transition: all 0.5s ease-in-out;
  border: 2px solid red;
  position: relative;
  background-color: transparent;
  z-index: 10; 
  /* transform: translateX(100vw);    */
}
.container_fixed{
  position: fixed;
  height: 100vh;
  background-color: green;
  z-index: 15;
}

/* form css ends */
/* Form01 css starts  */
.blank {
  height: 100%;
  width: 25vw;
  background-color: transparent;
}

.Form01_main_container {
  height: 100%;
  width: 100vw;
  display: flex;
  z-index: 2;
}
.Form01_page_Inner{
  width: 75vw;
  overflow: hidden;
}
.Form_page_content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.formInput {
  height: 3rem;
  width: 15rem;
  margin: 0rem 1rem;
  border: none;
  box-shadow: 5px 5px 10px rgb(124, 124, 124);
  border-radius: 10px;
  padding: 0rem 1rem;
}

.Form_input {
  width: 100%;
  padding: 1.2rem;
}

.Form_input label {
  font-weight: 900;
  margin-right: 1rem;
}

.formGenderDiv button {
  width: 10rem;
  cursor: pointer;
}

.formSubmit {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Form01 css ends */
/* Form02 css starts  */
.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 30rem;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}
.profilePhotoInput{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Form02 css ends */
/* Form03 css starts  */
.profileImage{
  height: 20rem;
  width: 20rem;
}
.profileImage img{
  height: 100%;
  width: 100%;
}
.multipleImgDiv{
  display: flex;
  padding: 1rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.multiplePhotoUpload{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:50%;
  flex-direction: column;
}
.multiplePhotoDisplay{
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.BlankPhotoDiv{
  height: 100px;
  width: 100px;
  background-color: transparent;
  margin: 1rem;
  border: 2px dashed black;
}
/* Form03 css ends */
/* otp page css ends */

/* google btn css starts  */
.googleButton{
  width: 11rem;
  height: 2.5rem;
  padding: 3px;
  background-color: #3F7EE8;
  border: none;
  display: flex;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
}
.googleButton img{
  height: 100%;
  width: 2rem;
}
.googleBtnText{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

/* google btn css ends */